<!DOCTYPE html>
<html>
  <head>
    <title>BOOKCATALOG</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<body>
  <header>
    <% if user_signed_in? %>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
        <%= button_to "ホーム", screens_screen_path, method: :get, class: "btn btn-outline-secondary" %>

         <div class="search_form">
          <%= form_with url: searches_search_path, local: true, method: :get do |f| %>
          <%= f.text_field :word %>
          <%= f.select :range, options_for_select([['User'], ['Book']]) %>
          <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
          <%= f.submit "検索", class: "btn-sm btn-primary" %>
          <% end %>
         </div>

    <% elsif admin_signed_in? %>
         <%= button_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary" %>
         <%= button_to "管理者側のホームへ戻る", admin_screens_screen_path, method: :get, class: "btn btn-outline-secondary" %>
    <% else %>
        <%= button_to "新規登録", new_user_registration_path, method: :get, class: "btn btn-outline-secondary" %>
        <%= button_to "ログイン", new_user_session_path, method: :get, class: "btn btn-outline-secondary" %>
        <%= button_to "TOPへ戻る", root_path, method: :get, class: "btn btn-outline-secondary" %>
    <% end %>
  </header>
    <%= yield %>
</body>
</html>
